*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build

designs/
docs/
graphify-out/
.superpowers
.vscode

OldStuff
OldStuff/Anki-Lockscreen
OldStuff/OldArchitecture_Restored
OldStuff/web-application
OldStuff/website
Anki-Lockscreen
OldArchitecture_Restored
web-application
website